.reset-button {
    width: 100px;
    height: 30px;
    background-color: #f8f8f8;
    color: #000000;
    padding: 5px;
    font-family: var(--ag-font-family);
    font-size: 12px;
    font-weight: bold;
    border: 1px solid #babfc7;
    cursor: pointer;
    margin-right: 5px; /* Adjust spacing as needed */
  }
  
  /* Reset button on hover & focus */
  .reset-button:hover {
    background-color: #dbdbdb;
  }