.ag-theme-alpine {
  --ag-grid-size: 5px;
  --ag-list-item-height: 22px;
  --ag-font-size: 12px;

  --ag-header-column-separator-display: block;
  --ag-header-column-separator-height: 70%;
  --ag-header-column-separator-width: 1px;
  --ag-header-column-separator-color: rgb(185, 185, 185);
}

/* override the 50px min height */
.ag-center-cols-clipper,
.ag-center-cols-container {
  min-height: 300px !important;
}
