/* Variables */
:root {
  --element-box-size: 36px;
}

.ptable_outer {
  /* width: 95%; */
  /* margin: 0 auto; */
  /*margin-top: -4vw;*/
  /* max-width: 1700px; */
  /* transform: scale(0.8); */
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ptable {
  display: grid;
  grid-template-columns: repeat(17, auto) 1fr;
  grid-template-rows: repeat(10, auto) 1fr;
}

.element {
  height: var(--element-box-size);
  width: var(--element-box-size);
  margin: 1px;
  /* margin-right: -2px; */
  /* margin-bottom: -2px; */
  user-select: none; /* don't select text upon clicking */
  position: relative;
  border: 1px solid #999;
  border-radius: 6px;
  cursor: pointer;
  /*cursor: default; /* don't charge cursor into a bar when hovering over text */
  display: flex;
  flex-direction: column; /* make main axis vertical */
  justify-content: center; /* center items vertically, in this case */
  align-items: center;
}

.element-state0 {
  background: rgb(168, 220, 250);
}

.element-state1 {
  background: rgb(122, 211, 126);
}

.element-state2 {
  background: rgb(238, 130, 130);
}

.element-state3 {
  background: rgb(129, 137, 241);
}

.element-disabled {
  background: rgb(226, 226, 226);
  pointer-events: none; /* no hover on disabled elements */
}

.element:hover {
  filter: brightness(85%);
  transform: scale(1.2);
  z-index: 10;
}

.elem_num {
  font-size: 12px;
  line-height: 1;
  /* border: 1px solid red; */
}

.elem_sym {
  font-size: calc(0.4 * var(--element-box-size));
  line-height: 1;
  /* border: 1px solid blue; */
}

/* ----------------------------- */
/* element locations in the grid */

.element-2 {
  grid-column-start: 18;
}

.element-5 {
  grid-column-start: 13;
}

.element-13 {
  grid-column-start: 13;
}

/* Lanthanoids and Actonoids */

.element-57 {
  grid-column-start: 3;
}

.element-89 {
  grid-column-start: 3;
}

.lanthanide {
  margin-top: 14px;
}

/* push 72 and 104 forward to make a hole in the La & Ac spot */

.element-72 {
  grid-column-start: 4;
}

.element-104 {
  grid-column-start: 4;
}

/* ----------------------------- */
/* Selection mode */

.selection_mode {
  grid-column: 5 / span 6;
  grid-row: 1 / span 2;
  width: calc(9 * var(--element-box-size) + 8);
  height: calc(2 * var(--element-box-size) + 1);
  /* background: rgb(238, 3, 3); */
  border: 1px solid #999;
  border-radius: 6px;
}

/* ----------------------------- */

.help_button {
  margin: auto;
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  border: 2px solid #999;
  height: calc(0.6 * var(--element-box-size));
  width: calc(0.6 * var(--element-box-size));
  border-radius: 50%;
  /* margin-right: -1px; */
  /* margin-top: -1px; */
  /* text-align: center; */
  cursor: default; /* don't charge cursor into a bar when hovering over text */
  user-select: none; /* don't select text upon clicking */
  justify-items: center;
  align-items: center;
  background: #fff;
}

.help_text {
  text-align: center;
  font-size: calc(0.45 * var(--element-box-size));
  margin-top: 1px;
}

.help_button:hover {
  filter: brightness(85%);
}

@media screen and (max-width: 800px) {
  :root {
    --element-box-size: 30px;
  }
  .elem_num {
    display: none;
  }
}
