.custom-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* overflow: hidden; */
}

.custom-header-label-container {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  gap: 1px;
  overflow: hidden;
  /* text-overflow: ellipsis; */
}

.filter-div {
  width: 22px;
  height: 22px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 50%;
  background: rgb(248, 248, 248);
}
.filter-div:hover {
  filter: brightness(85%);
}

.filter-div.active {
  background-color: rgb(38, 107, 255);
  /* border-radius: 50%; */
  /* padding: 2px; */
  border: 1px solid rgb(76, 58, 238);
  color: white;
}

.filter-div.active i {
  color: white;
}

.filter-div-inactive {
  width: 22px;
  height: 22px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  /* background-color: rgb(137, 178, 255); */
  border-radius: 50%;
  /* padding: 3px; */
  /* border: 1px solid rgb(134, 134, 134); */
  /* border: 1px solid rgb(104, 104, 104); */
  /* box-shadow: 0px 0px 0px 1px rgb(104, 104, 104) inset; */
  background: rgb(248, 248, 248);
}

/* .customHeaderMenuButton {
  float: left;
  margin: 0 0 0 3px;
  margin-right: -5px;
} */

.customHeaderLabel {
  /* float: left; */
  /* margin: 0 0 0 3px; */
  /* width: 80px; */
  /* background-color: red; */
  /* border: 1px solid rgb(207, 207, 207); */
  /* height: 80px; */
  /* text-overflow: clip; */
  /* overflow: visible; */
  white-space: normal;
  overflow: hidden;
  position: relative;
  /* text-overflow: ellipsis; */
  /* background: white; */
}

.unit-label {
  font-weight: normal;
}

.customSortDownLabel {
  float: left;
  margin: 0 0 0 3px;
}

.customSortUpLabel {
  float: left;
  margin: 0;
}

.customSortRemoveLabel {
  float: left;
  margin: 0 0 0 3px;
  font-size: 11px;
}
